[submodule "Zenburn"]
    path = bundle/Zenburn
    url = https://github.com/jnurmine/Zenburn.git

[submodule "vim-racket"]
    path = bundle/vim-racket
    url = https://github.com/wlangstroth/vim-racket

[submodule "python-mode"]
    path = bundle/python-mode
    url = git://github.com/klen/python-mode.git

[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
